@using MyBlog.Domain.Models.Pagination;
@using MyBlog.Domain.Models.ViewComponentModels;
@model PaginatedList<BlogView>

@{
    var query = Context?.Request?.Query["page"].ToString();
    var pageNumber = string.IsNullOrWhiteSpace(query) ? 1 : Convert.ToInt32(query);
    var prevDisabled = !Model.HasPreviousPage ? "d-none" : "";
    var nextDisabled = !Model.HasNextPage ? "d-none" : "";
}

<!-- Main Content-->
@foreach (var item in Model ?? new List<BlogView>())
{
    <!-- Post preview-->
    <div class="post-preview">
        <a href="@item.BlogUrl">
            <h2 class="post-title">@item.Title</h2>
            <h3 class="post-subtitle">@item.SubTitle</h3>
        </a>
        <p class="post-meta">
            Posted by
            <a href="@item?.AuthorUrl">@item?.CreatedBy</a>
            on @item?.CreatedDate
        </p>
    </div>
    <!-- Divider-->
    <hr class="my-4" />
}

<!-- Pager-->
<div class="d-flex justify-content-between mb-4">

    <a class="btn btn-primary text-uppercase @prevDisabled" href="/home?page=@(pageNumber -1)">
        <span class="fas fa-arrow-alt-circle-left"></span>
        Previous Posts
    </a>

    <a class="btn btn-primary text-uppercase @nextDisabled" href="/home?page=@(pageNumber +1)">
        Older Posts
        <span class="fas fa-arrow-alt-circle-right"></span>
    </a>

</div>